/* STYLE SHEET FOR TRISKATHANIAASSIGNMENT2.HTML */

body {
background-color: GhostWhite;
margin: 10px;
font-family: 'Raleway', sans-serif;
}

.homepage


.center {
	text-align: center:
}

header {
	background-color: GhostWhite;
}

.footer {
	font-size: 90%;
	text-align: center;

/* Navbar */




.about



.service



.portfolio



.contact

