/* STYLE SHEET FOR TRISKATHANIAASSIGNMENT2.HTML */

body {
background-color: GhostWhite;
margin: 10px;
font-family: 'Raleway', sans-serif;
}

.header {
  padding: 60px;
  text-align: center;
  background-image: linear-gradient(DarkBlue, DarkGoldenRod);
  color: white;
  font-size: 30px;
}

/* Page Content */
.content {padding:20px;}


footer {
	font-size: 90%;
	text-align: center;
}
